<div class="container-fluid" style="min-width: 800px;padding: 50px;background-color: #e6e9f5;">
    <div style="width: 100%;">
        <h3 style="text-transform: uppercase;text-align: center;">Modifier la variante</h3><br>

        <div class="row">
            <div class="col-8 offset-2">
                <div style="background-color: white;border-radius: 10px;padding: 20px;width: 100%;min-height: 120px;">


                    <div *ngIf="varianteDetail.varianteId.proprieteVariante[0]">
                        <h4>{{ varianteDetail.labelVariant[0] }}</h4>
                        <mat-form-field style="margin-top: -15px;" class="example-form-field col-12"
                            appearance="outline">
                            <input matInput type="text" [(ngModel)]="Vari1">
                            <button style="border-radius: 3px;" *ngIf="Vari1" matSuffix mat-icon-button
                                aria-label="Clear" (click)="Vari1=''">
                                <mat-icon>close</mat-icon>
                            </button>
                        </mat-form-field>
                    </div>
                    <div *ngIf="varianteDetail.varianteId.proprieteVariante[1]">
                        <h4>{{ varianteDetail.labelVariant[1] }}</h4>
                        <mat-form-field style="margin-top: -15px;" class="example-form-field col-12"
                            appearance="outline">
                            <input matInput type="text" [(ngModel)]="Vari2">
                            <button style="border-radius: 3px;" *ngIf="Vari2" matSuffix mat-icon-button
                                aria-label="Clear" (click)="Vari2=''">
                                <mat-icon>close</mat-icon>
                            </button>
                        </mat-form-field>
                    </div>
                    <div *ngIf="varianteDetail.varianteId.proprieteVariante[2]">
                        <h4>{{ varianteDetail.labelVariant[2] }}</h4>
                        <mat-form-field style="margin-top: -15px;" class="example-form-field col-12"
                            appearance="outline">
                            <input matInput type="text" [(ngModel)]="Vari3">
                            <button style="border-radius: 3px;" *ngIf="Vari3" matSuffix mat-icon-button
                                aria-label="Clear" (click)="Vari3=''">
                                <mat-icon>close</mat-icon>
                            </button>
                        </mat-form-field>
                    </div>
                    <div><button (click)="updateVariante()" style="width: 100%;" mat-raised-button
                            color="primary">Enrégistrer</button></div>
                </div>
            </div>
        </div>
    </div>
</div>