<style *ngIf="!isSignedIn">
    .RightDiv, .LeftDiv{
    position: fixed;
    height: 100%;
    width: 50%;
}
.RightDiv{
    right: 0px;
    background-color: #4a69bd;
}
.LeftDiv{
    left: 0px;
    text-align: center;
    margin-top: 15%;
}
.Login_baniere{
    width: 80%;
}
h3{
    font-weight: 400;
    margin-bottom: 20px;
    font-size: 23px;
}
h1{
    font-weight: bold;
    color: #4a69bd;
    font-size: 45px;
    text-transform: uppercase;
}
h2{
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-size: 27px;
}
.vertical-center {
    margin: 0;
    position: absolute;
    top: 30%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    text-align: center;
  }
mat-form-field{
    min-width: 350px;
}
.underTtl{
    color: rgb(216, 216, 216);
}
/*::ng-deep {
    .mat-form-field-appearance-outline .mat-form-field-outline {
       color: white;
       background-color: rgba(255, 255, 255, 0.15);
       border-radius: 5px;
    }
    mat-form-field {
       .mat-hint, input, ::placeholder, .mat-form-field-label {
          color: white;
       }
    }
 }*/
</style>
<div *ngIf="!isSignedIn" (isLogout)="handleLogout()" class="container">
    <div class="row">
        <div class="col-6 LeftDiv">
            <h3>Heureux de vous revoir à nouveau</h3>
            <h1>Bienvenue</h1><br><br>
            <img src="assets/undraw_outdoors_amdn.svg" class="Login_baniere" alt="">
        </div>
        <div class="col-6 RightDiv">
            <div class="vertical-center">
                <h2>Connexion.</h2>
                <p class="underTtl">S'il ne s'agit pas de votre ordinateur, utilisez une fenêtre de navigation privée pour vous connecter.</p>
                <form class="example-form">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Adresse e-mail</mat-label>
                        <input type="email" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
                            placeholder="Ex. pat@example.com" #email>
                        <mat-hint>Les erreurs apparaissent ici!</mat-hint>
                        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                            Veuillez saisir une adresse électronique valide
                        </mat-error>
                        <mat-error *ngIf="emailFormControl.hasError('required')">
                            L'adresse électronique est <strong>obligatoire</strong>
                        </mat-error>
                    </mat-form-field>
                </form>

                <p>
                    <mat-form-field appearance="outline">
                        <mat-label>Mot de passe</mat-label>
                        <input type="password" class="underTtl" matInput placeholder="Votre mot de passe" #password>
                    </mat-form-field>
                </p>
                <button style="min-width: 350px;" mat-flat-button (click)="onSignin(email.value,password.value)">Se
                    connecter</button>
            </div>
        </div>
    </div>
</div>



<div *ngIf="isSignedIn" class="container-fluid">
    <div class="row">
        <div class="col-3 GlobDiv">
            <div class="leftNavDiv">
                <div class="homeTitle"><img src="assets/KAFED_AGRO-removebg-preview.png" style="width: 50%;" alt=""></div>
                <ul>
                    <li (click)="changePage('stock')" class="stock"><img src="assets/box-package-open-outline.gif" alt="">
                        <div>Stockage</div>
                    </li>
                    <li (click)="changePage('client')" class="client"><img src="assets/attract-customers-outline.gif" alt="">
                        <div>Clients</div>
                    </li>
                    <li (click)="changePage2('commande', 'all')" class="commande"><img src="assets/basket-outline.gif" alt="">
                        <div>Commandes</div>
                    </li>
                    <li (click)="changePage('analyse')" class="analyse"><img src="assets/153-bar-chart-growth-outline.gif" alt="">
                        <div>Analyse de donnée</div>
                    </li>
                    <li (click)="changePage('approvisionnement')" class="approvisionnement"><img src="assets/497-truck-delivery-outline.gif" alt="">
                        <div>Approvisionnement</div>
                    </li>
                    <li (click)="handleLogout()" class="deconnexion"><img src="assets/1740-window-shutters-outline.gif" alt="">
                        <div>Déconnexion</div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-9 offset-3 GlobDiv">
            <div class="centerGlobalDiv">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>